

.section-col{
    height: 100vh;
    border-right:5px solid #7d3cff;
    padding: 0;
}

.section-selected{
    width: 25px;
    background-color: #7d3cff;
    color:#ffffff;
}

.page-col{
    height: 100vh;
    border-right:5px solid #7d3cff;
    padding: 0;
}

.add-section{
    background-color: #b997fd;
    height: 45px;
    padding:10px;
}

.section-input{
    font-size: revert;
    background-color: #b997fd;
    border: 0;
}

.section-input:focus{
    outline-color: #7d3cff;
}

.content-area{
    flex: 1 1;
    height: 100vh;
}


.fh{
    height: 100vh !important;
}

.content-area-btn{
    text-align: center;
    background-color: #7d3cff;
    color: #ffffff;
    position: absolute;
    right: 4.2rem;
    bottom: -3.8rem;
    z-index: 5;
    width: 70px;
    height: 70px;
    border-radius: 2.2rem;

}