<div class="container-fluid">
    <app-header></app-header>
    <div class="row">
        <div class="col-md-2 section-col">
            <div class="add-section" >
                <input type="text" #sectionData [pattern]="'[A-Za-z0-9_]+'" placeholder="Enter Section Name" #section class="section-input" (keyup.enter)="addNewSection(section)">
                <span class="fa fa-plus-square mr-1" (click)="addNewSection(section)" ></span>
            </div>
            <app-section *ngFor="let note of notebooksList" [currentNote]="note"></app-section>
        </div>
        <div class="col-md-2 page-col">
            Page
        </div>
        <div class="col-md-8">Content</div>
    </div>

</div>


